.layer{
    background-color: rgba(12, 57, 61, 0.578);
    font-weight: bolder;
    color:rgb(230, 232, 238);
}

.section{
    background-image: src="('img/portfolio.jpg')";
    height: 200px;
/*    background-color: rgba(23, 172, 145, 0.374);
*/
}

.small-img
{
    width:200px;
    height:200px;
    
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 15%;
    margin:10%;
   }

.subsection{
    padding: 5%;
    
    border:1px solid grey;
}

.subsection:hover{
    background-color:grey ;
}