.layer{
    background-color: rgba(12, 57, 61, 0.578);
    font-weight: bolder;
    color:rgb(230, 232, 238);
}

.section{
  background-color:white;
    
}

.section:hover{
    background-color:black;
    color:white;
}
.small-img
{
    width:200px;
    height:200px;
    
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 15%;
    margin:10%;
   }

.subsection{
    background-color: inherit;
    color:inherit
}   
.subsection:hover{
    Background-color:white;
    color:black;
}

.name{
    text-align: center;
    font-family: Lobster, Helvetica, sans-serif;
    font-size: 70px;
    line-height: 100%;
   
}

.link{
    border:1px solid grey;
    font-weight: bold;
    background-color: black;
    color:white;
}
.main-bar{
    margin:auto;
}

.intro{
    text-align: center;
    padding: 1%;
    Margin:auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
   
}
.link:hover{
    background-color: white;
    color:black;
}
.logo{
    text-align: center;


}
.logo-img{
    height:20px;
    width:20px;
}