#header-bar{
    background-color: rgb(216, 229, 239);    
    padding-left: 3.5%;
    
}
#head-menu{
    
    align-content: center;
    position: sticky;
    top:1px;
    z-index:1;
    background-color:white;
    padding-left:5.5%;
    padding-top:0.5%;
    padding-right:0.5%;
    padding-bottom:0.5%;
}
#search-bar{
    
    border-radius: 20px;
    border-color: rgb(218, 231, 235);
    border-style: solid;
    border-width: 1px;
    font-size: large; 
    padding:0.5%;
    background-color: white;
    
    
}
/*
.search-pad{
    padding:0.4%;
}
*/
    

#header-sub-menu{
    margin-left:5%;  
   
}
#menu-bar{
    background-color: rgba(210, 225, 240, 0.972);
    padding:2%;
}


.pad {
    padding:2%;   
}

#Deals-Promo{
    background-color:rgb(216, 220, 223);
    padding:3%;
}

.heading{
    color:rgb(207, 29, 29);
}

.show-product{
    font-weight: bold;
    font-size: 45px;
}

#sales-price{
    color:rgb(207, 29, 29);
    font-weight: bold;
    font-size: 45px;
}