#header-bar{
    background-color: rgb(216, 224, 231); 
    padding-left: 3.5%;
    
}
#head-menu{
    
    align-content: center;
    margin-left:5%;
    margin-top:2%;
    position: sticky;
    top:1px;
}
#search-bar{
    
    border-radius: 20px;
    border-color: rgb(207, 224, 240);
    border-style: solid;
    border-width: 1px;
    font-size: large; 
    padding:0.5%;
    
    
}
/*
.search-pad{
    padding:0.4%;
}
*/
    

#header-sub-menu{
    margin-left:5%;  
    margin-top:1%; 
}
#menu-bar{
    background-color: rgba(210, 225, 240, 0.972);
    padding:2%;
}


.pad {
    padding:2%;   
}

#Deals-Promo{
    background-color:rgb(216, 220, 223);
    padding:3%;
}

.heading{
    color:rgb(207, 29, 29);
}

.show-product{
    font-weight: bold;
    font-size: 45px;
}

#sales-price{
    color:rgb(207, 29, 29);
    font-weight: bold;
    font-size: 45px;
}